.background {
    -fx-background-image: url("images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* hoặc contain */
    -fx-background-position: center center;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0.2, 0, 1);
}

.result-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: linear-gradient(to bottom, #ffffff, #ffd700); /* trắng vàng ánh kim */

    -fx-font-family: "Verdana", "Segoe UI", sans-serif;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 8, 0.3, 0, 3),
    dropshadow(gaussian, rgba(255,215,0,0.6), 12, 0.5, 0, 0); /* đổ bóng + ánh sáng */

    -fx-padding: 30 0 10 0;
    -fx-alignment: center;
}

.chess-action-button {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;

    -fx-background-color: linear-gradient(to bottom, #4caf50, #388e3c); /* xanh lá cây đẹp */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #2e7d32;
    -fx-border-width: 1;

    -fx-padding: 8 20;
    -fx-cursor: hand;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0.2, 0, 2);
}

.chess-action-button:hover {
    -fx-background-color: linear-gradient(to bottom, #66bb6a, #43a047); /* hover sáng hơn */
}

.chess-action-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #2e7d32, #1b5e20); /* nhấn đậm hơn */
    -fx-translate-y: 1;
}